<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Lista de Titulares</h1>
    <!-- <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
      </ol> -->
    <div class="row"></div>
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <i class="fas fa-table me-1"></i>
          Listado de titulares
        </div>
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addOwner">
          <i class="fa-solid fa-user-plus"></i>
          Agregar Titular
        </button>
      </div>
      <div class="card-body">
        <div class="mat-elevation-z0">
          <table mat-table [dataSource]="dataSource">
            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

            <!-- Lastname Column -->
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef>Apellido</th>
              <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
            </ng-container>

            <!-- Tel Column -->
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef>Telefono</th>
              <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
            </ng-container>

            <!-- Actions Buttons -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="basic">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[2, 5, 10]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Owner Modal  -->
  <div class="modal fade" id="addOwner" tabindex="-1" aria-labelledby="Agregar Titular" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar Titular</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="nombre" placeholder="Nombre">
              <label for="nombre">Nombre</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="apellido" placeholder="Apellido">
              <label for="apellido">Apellido</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="telefono" placeholder="Telefono">
              <label for="telefono">Telefono</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-dark">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</main>